.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.4);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 560px;
	width: 100%;
	padding: 0px;
	box-sizing: border-box;
	background-color: #E74C3C;
	border-radius: 4px;

	.modal-close {
		position: absolute;
		right: 16px;
		top: 16px;
		display: inline-flex; vertical-align: middle; text-align: center; box-sizing: border-box;
		align-items: center; justify-content: center;
		text-decoration: none !important;
		outline: none;
		-webkit-appearance: none;
		border: none;
		cursor: pointer;
		user-select: none;
		background-color: transparent;
	}

	.modal-header {
		padding: 40px;
		margin-bottom: 24px;
		font-size: 22px;
		color:white;
		background-color: #D44637;
	}

	h4 {
		margin: 0;

	}

	.modal-content {}
	.modal-text {
		padding: 40px;
		color:white;
		font-size: 26px;
	}
	.modal-footer {
	display: flex;
	margin-bottom: 15px;
	}

	.button-wrapper {
		display: flex;

		align-items: center;

		margin-left: auto;
		margin-right: auto;
	}
}

.btn {
margin-left: 5px;
	border-radius: 5px;
	position: relative;
	display: inline-flex; vertical-align: middle; text-align: center; box-sizing: border-box;
	align-items: center; justify-content: center;
	text-decoration: none !important;
	outline: none;
	-webkit-appearance: none;
	border: none;
	cursor: pointer;
	user-select: none;
	background-color: #B3382C;
	font-family: Roboto,sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	padding: 8px 32px;
}
.btn2 {
	border-radius: 5px;
	position: relative;
	display: inline-flex; vertical-align: middle; text-align: center; box-sizing: border-box;
	width: 100px;
	align-items: center; justify-content: center;
	text-decoration: none !important;
	outline: none;
	-webkit-appearance: none;
	border: none;
	cursor: pointer;
	user-select: none;
	background-color: green;
	font-family: Roboto,sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	padding: 8px 32px;
}
